@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body{
    background-image: url(./assets/backgorund.png);
    background-attachment: fixed;
}

*{
    font-family: 'Courgette', cursive;
}

.threeButons{
    display: flex;
    justify-content: flex-end;
}

.butonTop{
    padding: 6px;
    background-color: #874C62;
    border-radius: 10px;
    margin: 1px;
}

h1{
    font-size: 44px;
    color: #F2D388;
}

.heading{
    display: flex;
    flex-direction: column;
}

.centerZOne{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.boxHeading{
    display: flex;
    
}
.logoImg{
    width: 280px;
}

.boxPasteles{
    /*width: 40%;*/
    display: flex;
    flex-direction: row;    
}

.pasteles{
    width: 140px;
}

.areaUpdate{
    width: 40%;
    font-size: large;
    color: #F2D388;
    padding: 20px;
    background-color:  #874c62b7;
    border-radius: 20px;  
    text-align: center;  
    display: flex;
    flex-direction: column;
    
}

.illTakeIt{
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
}


.butonOrder{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
    padding: 4px;
}

.footer{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#874C62;
}

.figButon{
    background-color: #874C62;
    border-radius: 10px;
    padding: 4px;
}

tabla{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #002E94;
}

thead{
    background-color: #e5be8b;
    border: 2px solid #002E94;
} 

tr, th{
    padding: 10px;
    border: solid 1px;
}

figcaption{
    text-align: center;
    color: #F2D388;
    text-align: center;
    font-size: large;
}
p{
    margin: 10px;
    padding: 2px;
}
a{
    color: #A7D2CB;
}